{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% sass_src 'randomContestGenerator/css/main.scss' %}" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
    <!-- <a href="{{ contest.url }}" class="btn">{{ contest.name }}</a> -->
    <!-- <a href="#" class="btn">{{ contest.name }}</a> -->
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" name="" id="nav-toggle">
        <label for="nav-toggle" class="navigation__button">Menu</label>
        <div class="navigation__background"></div>
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">Random Contest</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Daily practice</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>