{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% sass_src 'randomContestGenerator/css/main.scss' %}" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <title>Document</title>
</head>
<body>
    <!-- <a href="{{ contest.url }}" class="btn">{{ contest.name }}</a> -->
    <!-- <a href="#" class="btn">{{ contest.name }}</a> -->
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" name="" id="nav-toggle">
        <label for="nav-toggle" class="navigation__button"><span class="navigation__icon"></span></label>
        <div class="navigation__background"></div>
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="{% url 'randomcontest' %}" class="navigation__link">Random Contest</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Daily practice</a></li>
            </ul>
        </nav>
    </div>

    <div class="screen">
        <div class="screen__heading">
            <h1 class="u-heading-primary">FEED ME</h1>
        </div>
        <div class='screen__ful'></div>
    </div>

    
    {% block randomContest %}
    {% endblock %}

    
    {% block dailyPractice %}
    {% endblock %}



</body>
</html>