{% extends 'base.html' %}

{% block dailyPractice %}
<div id="dailyPractice" class="dailypractice">

    <div v-if="state==='False'" class="dailyractice__generator">
        <!-- <form action="{% url 'generate_random_contest' %}" method="POST" class="form"> -->
        <form action="{% url 'generate_custome_contest' %}" method="POST" class="form" id="custome_contest_form">
            {% csrf_token %}
            <div class="dailyractice__input">
                <label for="num" class="dailyractice__input-label">Enter number of problems</label>
                <input v-model="number" type="number" min="1" max="99" name="num" id="num" class="dailyractice__input-box">
            </div>

            <!-- <h1 v-for="n in parseInt(number)" :key="n">[[ n ]]</h1> -->
            <div v-for="n in parseInt(number)" :key="n" class="dailyractice__index">
                <label :for="n" class="dailyractice__index-label" >[[ n ]]</label>
                <select :name="n" :id="n">
                <option value="A" class="dailyractice__index-option">A</option>
                <option value="B" class="dailyractice__index-option">B</option>
                <option value="C" class="dailyractice__index-option">C</option>
                <option value="D" class="dailyractice__index-option">D</option>
                </select>
            </div>

            <div class="form__button-submit">
                <input type="submit" class="btn" value="Generate a Custome contest">
            </div>
        </form>
    </div>

    <div v-if="state==='True'">
        <!-- <h1 v-if="state==='Hungry'"> Oh! IF works</h1>
        <h1 v-else> [[ state ]] </h1>
        <a href="#" class="randomcontest__link-heading"><h1 class="randomcontest__link-text">
            [[ text ]]
        </h1></a> -->
        {% for i in problems %}
        <a href="{{ i.url }}" class="randomcontest__link-heading"><h1 class="randomcontest__link-text">
            {{ i.name }}
        </h1></a>
        {% endfor %}
    </div>

</div>
<script>
    new Vue({
        delimiters: ["[[","]]"],
        el: '#dailyPractice',
        data: {
            text: 'Hello Tacoface!',
            state: '{{ state }}' ,
            number: 3
        }
    });
</script>
{% endblock %}