.screen {
    height: 30vh;
    width: 95vw;
    display: block;
    border: .5rem solid $color-primary-200;
    border-radius: 3px;
    margin-bottom: 7rem;
    position: relative;
    &__heading {
        color: $color-primary-200;
        text-align: center;
        margin-top: 2rem;
    }

    &__ful{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-5%);
        background: url(../images/narwal.png) 0 0 no-repeat;
        animation: flowerMove 1s steps(12) infinite;
        height: 200px;
        width: 200px;
    }
}


@keyframes flowerMove {
    0% {
        background-position: 0 0;
        
    }

    100% {
        background-position: 0 -2400px;
    }
}