*,*::after, *::before {
    margin: 0px;
    padding: 0;
    box-sizing: inherit; /* every element now inherits from the body box-size $$BEST PRACTICE$$ */
}

html {
    // this defines what 1rem is
    font-size: 62.5%;  // 1rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box; /*go to *,*::after, *::before box-sizing to know why it is done this way */
    padding: 3.0rem;
    background-color: #0A171F;

}

.forlabel__text {
    font-size: 2rem;
    color: orangered;
}